.pictures {
  justify-content: space-between;
}

.pictures__quiz {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 650px;
  justify-content: space-between;
  position: relative;
  width: 80%;
  margin: 0 auto;
  li {
    cursor: pointer;
    height: 300px;
    transition: box-shadow 0.5s ease;
    width: 48%;
    background: no-repeat center / cover;
  }
}

@media (max-width: 320px) {
  .pictures__quiz li {
    height: 150px;
    width: 100%;
    background: no-repeat center/cover;
  }
}
